<% include ../partials/header %>


<div class="jumbotron landing">
  <div class="container-fluid row">
    <h1 class="text-center">Fight me, shitlord.</h1>
    <h3 class="text-center">A site for all of your misplaced frustrations.</h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <h3 class="text-center">What is this??</h3>
      <p>FIGHT ME, SHITLORD allows users to connect in a meaningful way: threats of physical violence.</p>
    </div>
    <div class="col-xs-4">
      <h3 class="text-center">Okay, but why?</h3>
      <p>Fuck you, that's why. I am sick of your fucking attitude.</p>

    </div>
    <div class="col-xs-4">
      <h3 class="text-center">This is dumb.</h3>
      <p>YOU'RE DUMB. I WILL FIGHT YOU.</p>

    </div>
  </div>
</div>

<% include ../partials/footer %>
