<% include ../partials/header %>


<div class="jumbotron landing">
  <div class="container-fluid row">
    <h1 class="text-center">Fight me, shirtlord.</h1>
    <h3 class="text-center">A site for all of your misplaced frustrations.</h3>
  </div>
</div>


<% include ../partials/footer %>
