.landing {
  background-image: url('https://images.unsplash.com/photo-1443683263937-3e377546e8a8?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f0e510f5dbccb418fb3a9c407485985b');
  background-size: cover;
  color:#ccc;
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 5px 5px black;
}

.top-section {
  padding-top:75px;
}
